body{
    background-color: lightgray;
}

.bgcolor {
    background-color: white;
    height: inherit;
    margin: 10px;
    width: 30%;
}

.container3 {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px; // 隨螢幕尺寸而變，當螢幕尺寸 ≥ 1200px 時是 1140px。
}

.head {
    
    height: 70px;
    width: 100%;
    background: #6FA09E;
    text-align: center;
    line-height: 70px;
    font-weight: 700;
    font-size: 22px;
    color:whitesmoke;

/*
    background-color: #C7FF91;
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
*/
}

.info{
    margin: 5% 8%;
    width: 100%;
}


.goods-text{
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
}

.goods-price{
    color:indianred;
}
img.goods{
    height: 100px;
    width: 150px;
    margin-left: 5%;
}

.total{
    text-align: right;
    margin: 5px;
    font-weight: 500;
}

.btn-card{
    background-color: #6fa09e;
    width: 30%;
}
.fancy label {
  display: inline-flex;
  align-items: baseline;

  input[type=checkbox],
  input[type=radio] {
    position: relative;
    appearance: none;
    font-size: inherit;
    width: 1em;
    margin: 0;
    color: inherit;
    outline: none;
    font-family: 'Font Awesome 5 Pro';
    transition: 300ms ease-out;

    &::after {
      content: '\f111'; // circle
      display: inline-block;
      text-align: center;
      width: 1em;
    }

    &:checked::after {
      font-weight: 900;
    }
    &:active {
      transform: scale(.6);
    }

    + span {
      margin-left: .35em;
    }
  }
  
  input[type=checkbox]:checked::after {
    content: '\f058'; // check-circle
  }

  input[type=radio]:checked::after {
    content: '\f192'; // dot-circle
  }
}
