body {
    background-color: lightgray;
}

.container {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px; // 隨螢幕尺寸而變，當螢幕尺寸 ≥ 1200px 時是 1140px。
}

.ctable {
    float: inherit;
}

.t1 {
/*    text-align: center;*/
    margin-left: 155px;
}

.t2 {
/*    text-align: center;*/
    margin-left: 55px;
}

.text {
    margin: 10px;
    font-weight: 500;
    color: #6FA09E;
}

.text2{
    margin-top: 10px;
    font-family: monospace;
    font-size: 16px;
}

.height {
    height: 220px;
}

.img2 {
    width: 420px;
    height: 420px;
    overflow: hidden;
    background: #f80;
}

.btn-color-detail{
    color: white;
    font-weight: 600;
    background-color: #6FA09E;
    width: 300px;
}
.btn-color-detail:hover{
    color: white;
    font-weight: 600;
    background-color: #8DCCCA;
    width: 300px;
}

.table-border{
    border: 0;
}
