.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    width: 30%;
    height: auto;
    margin: 15px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

h4.text-style{
    margin-top: 10px;
}

.search-choice{
    float: right;
}
.buttom-search{
    color: red;
    border-color: black;
    border-radius: 0;
    margin-bottom: 2px;
}

a.card-info{
    color:black;
}

a.card-info:hover{
    color: darkslategray;
}
